*{
    margin: 0;
    padding: 0;


}


.cabecalho{
    background-color: rgb(69, 81, 148);
    color: rgb(190, 237, 255);
    display: flex;
    justify-content: space-between;
    padding: 30px 6;
    font-size: 20px;



}
.cabecalhoListaItem{
    display: inline-block;
    margin: 3 20px;
    padding: 20px 6;


}

.sobreImagem{
           width:
}

.sobre{
        background-image: linear gradient(#FFFFFF. #FFFFFF);
        color: orange;
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 370px 0;
}

.sobreConteudo{
        width:
}

.sobreTitulo{
         padding: 100px 50px;
}