.cabecalho{
    background-color: rgb(69, 81, 148);
    color: rgb(190, 237, 255);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    font-size: 50px;



}
.cabecalhoListItem{
display: inline-block;
margin: 0 120px;
padding: 78px 0;


}